body{
  background-color:blanchedalmond;
}

.dic4 circle{
  fill: orange;
  transition: all .5s;
  transform-origin: 150px 150px;
}

.dic4:hover circle{
  transform: scale(1.4);
}

.dice5 g{
  transition: all .5s;
  transform-origin: center center;
}

.dice5:hover g{
  transform: scale(1.4);
}

/* smily default styles */
.cls-1{
  fill:#ffe269;
}

.cls-2{
  fill:#fff;
}

.cls-3{
  fill:#fcf0c0;
}